<div id="appFooter">
    <div 
        class="appFooterTextContainer"
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayout.sm="column" 
        fxLayoutAlign="start center" 
        fxLayoutAlign.xs="center center" 
        fxLayoutAlign.sm="center center"
        fxFlex>
        <div class="appTextCenter" fxFlex><a href="https://www.pa.gov/accessibility-policy/" target="_blank">ACCESSIBILITY</a></div>
        <div class="appTextCenter" fxFlex><a href="https://www.pa.gov/privacy-policy/" target="_blank">PRIVACY & DISCLAIMERS</a></div>
        <div class="appTextCenter" fxFlex><a href="https://www.pa.gov/security-policy/" target="_blank">SECURITY</a></div>
        <div class="appTextRight" fxFlex="65">COPYRIGHT &#169; {{ this.todayDate | date : 'yyyy' }} COMMONWEALTH OF PENNSYLVANIA. ALL RIGHTS RESERVED.</div>
    </div>
</div>