<mat-toolbar color="primary" id="appHeader">
    <mat-toolbar-row>
        <div class="appHeaderLogo">
            <img src="assets/images/CLIENT_logo.svg" alt="CLIENT Logo">
        </div>
        <span id="appHeaderText">
            <div id="appHeaderH1">
                Pennsylvania Game Commission
            </div>
            <div id="appHeaderH2">
                {{ this.appName }}
            </div>
        </span>
        <span class="appSpacer"></span>
    </mat-toolbar-row>
</mat-toolbar>
