@import '../../../app.global.scss';

.appConfirmationContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: calc(100vh - #{$header-bar-height} - #{$footer-height-offet});
}

.appConfirmationContent {
    text-align: center;
    font-weight: 500;
    color: $color-helper-text;
    line-height: 2.625rem;
    font-size: 1.125rem;
}

.appConfirmationContent a {
    color: $color-helper-text;
}

.appBackToHomeButton {
    font-size: 1.125rem;
}

.appConfirmationNumber {
    font-weight: 800;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: $screen-width-mobile-small-landscape) {
    .appBackToHomeButton{
        z-index: 5000;
    }
}